*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
.dat*
.repl_history
build/
/.yardoc/
/_yardoc/
/doc/
/rdoc/
/.bundle/
/lib/bundler/man/
.rvmrc
/data/.DS_Store
/.DS_Store
/app/public/.DS_Store
/app/public/images/.DS_Store
/app/views/.DS_Store
data/Community_Councils.dbf
data/Community_Councils.kmz
db/development.sqlite3