<h1>Open311 Server</h1>
<p>This is a <a href="http://www.sinatrarb.com">Sinatra</a> based Open311 server being developed as part of Code for Europe project for Aberdeen City Council.</p>

<p>This project is very much in a state of early development so do not expect everything to function or be implemented yet.</p>

<p>The source code for this project can be found on <a href="https://github.com/andrewsage/open311server">GitHub</a></p>

<p>The server is built to meet the <a href="http://wiki.open311.org/GeoReport_v2">Open311 GeoReport v2 specification</a> and <a href="http://wiki.open311.org/Inquiry_v1">Open311 Inquiry v1 specification</a>.</p>

<p>There is a <a href="/map">map view</a> that shows the location of the facilities.</p>

<h2>Inquiry v1</h2>
<p>The Inquiry v1 specificiation was developed by NYC for their needs. In order to make the facility information more relevant for the UK some additional fields have been added as follows:</p>

<ul>
  <li>postcode - the post code of the Facility</li>
  <li>phone - the phone number of the Facility</li>
  <li>contact - name of a contact for the Facility</li>
  <li>email - email address for the Facility</li>
  <li>web - web address for the Facility</li>
  <li>updated - the date and time that the information was last updated</li>
</ul>


<h2>Data</h2>
<p>There is some test data in place. Some of it is hardcoded for now and some of it is in a database.</p>
<ul>
  <li><a href="/load_car_park_data">Rebuild Car Park data</a></li>
  <li><a href="/load_school_data">Rebuild School data</a></li>
</ul>

<h2>Get Sub Categories List</h2>

<p>
  To get a list of the facilities use: http://&lt;content_api_root&gt;/sub_categories/&lt;category/&gt;.xml
<p>

<ul>
  <li><a href="/dev/v1/sub_categories/all.xml">/dev/v1/sub_categories/all.xml</a></li>
</ul>

<h2>Get Facilities List</h2>

<p>
  To get a list of the facilities use: http://&lt;content_api_root&gt;/facilities/&lt;category/&gt;.xml
<p>

<ul>
  <li><a href="/dev/v1/facilities/all.xml">/dev/v1/facilities/all.xml</a></li>
  <li><a href="/dev/v1/facilities/community%20groups.xml">/dev/v1/facilities/community%20groups.xml</a></li>
  <li><a href="/dev/v1/facilities/parking.xml">/dev/v1/facilities/parking.xml</a> (partial data at present - occupancy information is incorrect)</li>
  <li><a href="/dev/v1/facilities/schools.xml">/dev/v1/facilities/schools.xml</a> (partial data at present)</li>
</ul>



<h2>Get Facility Details</h2>
<p>To get the facility detailed information use: http://&lt;content_api_root&gt;/facilities/&lt;facility_id&gt;

<ul>
  <li><a href="/dev/v1/facilities/CG1432.xml">/dev/v1/facilities/CG1432.xml</a> - a community group</li>
  <li><a href="/dev/v1/facilities/CP01.xml">/dev/v1/facilities/CP01.xml</a> - a car park</li>
  <li><a href="/dev/v1/facilities/SC2.xml">/dev/v1/facilities/SC2.xml</a> - a school</li>
</ul>